Repository windranger-io/windranger-governance: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint -- --fix

fix(bot): update dependencies
  package-lock.json
  package.json
Due: none

feat(governance): governor alpha
  contracts/GovernorAlpha.sol
  contracts/Timelock.sol
  contracts/external/BitDAO.sol
  hardhat.config.ts
  package-lock.json
  package.json
  test/GovernorAlpha.test.ts
Due: npm run format, npm run lint -- --fix

fix(governance): move storage vars above events in timelock
  contracts/Timelock.sol
Due: npm run format

feat(governor): add separate 0.8.x version and downgrade main to 0.7.6 version
  contracts/GovernorAlphaV8.sol
Due: npm run format

fix(governance): move Timelock to utils and make V8 for it
  contracts/utils/Timelock.sol
  contracts/utils/TimelockV8.sol
Due: npm run format

fix(governance): remove debug console
  contracts/GovernorAlpha.sol
Due: npm run format

fix(governor): use native 0.5.16 version
  contracts/GovernorAlpha.sol
  contracts/utils/Timelock.sol
  hardhat.config.ts
Due: npm run format, npm run lint -- --fix

[Feature] Governor Alpha (#76)
  contracts/GovernorAlpha.sol
  contracts/GovernorAlphaV8.sol
  contracts/external/BitDAO.sol
  contracts/utils/Timelock.sol
  contracts/utils/TimelockV8.sol
  hardhat.config.ts
  package-lock.json
  package.json
  test/GovernorAlpha.test.ts
Due: npm run format, npm run lint -- --fix

feat(governance): remove redundant libs from package and config
  hardhat.config.ts
  package-lock.json
  package.json
Due: npm run lint -- --fix

feat(governance): remove redundant libs from package and config (#82)
  hardhat.config.ts
  package-lock.json
  package.json
Due: npm run lint -- --fix

feat(governor): added governor bravo
  contracts/governor/GovernorAlpha.sol
  contracts/governor/GovernorAlphaV8.sol
  contracts/governor/GovernorBravoDelegate.sol
  contracts/governor/GovernorBravoDelegator.sol
  contracts/governor/GovernorBravoInterfaces.sol
  contracts/governor/Timelock.sol
  contracts/governor/TimelockV8.sol
  test/GovernorBravo.test.ts
Due: npm run format, npm run lint -- --fix

fix(governor): update comments
  .DS_Store
  .gitignore
  contracts/governor/GovernorBravoDelegate.sol
  contracts/governor/GovernorBravoInterfaces.sol
  test/GovernorBravo.test.ts
Due: npm run format, npm run lint -- --fix

fix(governor): move OZ to dev dependencies
  package-lock.json
  package.json
Due: none

[Feature] Governor Bravo (#83)
  .DS_Store
  .gitignore
  contracts/governor/GovernorAlpha.sol
  contracts/governor/GovernorAlphaV8.sol
  contracts/governor/GovernorBravoDelegate.sol
  contracts/governor/GovernorBravoDelegator.sol
  contracts/governor/GovernorBravoInterfaces.sol
  contracts/governor/Timelock.sol
  contracts/governor/TimelockV8.sol
  package-lock.json
  package.json
  test/GovernorBravo.test.ts
Due: npm run format, npm run lint -- --fix

feat(governance): add safe upgradeability to all contracts
  contracts/Governance.sol
  contracts/Rewards.sol
  contracts/Treasury.sol
  contracts/TreasuryInsurance.sol
  contracts/VotesOracle.sol
  contracts/interfaces/IRewards.sol
  contracts/mocks/MockERC20.sol
  contracts/utils/GovernanceControl.sol
  contracts/utils/TimelockController.sol
  package-lock.json
  package.json
  test/Governance.test.ts
Due: npm run format, npm run lint -- --fix

fix(governance): review feedback fixes
  contracts/Governance.sol
  contracts/external/BitDAO.sol
  contracts/utils/GovernanceControl.sol
Due: npm run format

fix(governance): add checks against upgraded instance
  test/Upgrades.test.ts
Due: npm run lint -- --fix

feat(governance): add deploy script
  scripts/deploy.ts
  scripts/sample-script.ts
Due: npm run lint -- --fix

feat(governance): add safe upgradeability tests
  contracts/Governance.sol
  contracts/TreasuryInsurance.sol
  contracts/mocks/MockUnsafe.sol
  hardhat.config.ts
  package-lock.json
  package.json
  test/Upgrades.test.ts
Due: npm run format, npm run lint -- --fix

fix(governance): reduce Governance.sol size, refactor require comments
  contracts/Governance.sol
  test/GovernorAlpha.test.ts
Due: npm run format, npm run lint -- --fix

fix(governance): fix test
  test/GovernorBravo.test.ts
Due: npm run lint -- --fix

[Feature] Add safe upgradeability to all contracts (#77)
  contracts/Governance.sol
  contracts/Rewards.sol
  contracts/Treasury.sol
  contracts/TreasuryInsurance.sol
  contracts/VotesOracle.sol
  contracts/external/BitDAO.sol
  contracts/interfaces/IRewards.sol
  contracts/mocks/MockERC20.sol
  contracts/mocks/MockUnsafe.sol
  contracts/utils/GovernanceControl.sol
  contracts/utils/TimelockController.sol
  hardhat.config.ts
  package-lock.json
  package.json
  scripts/deploy.ts
  scripts/sample-script.ts
  test/Governance.test.ts
  test/GovernorAlpha.test.ts
  test/GovernorBravo.test.ts
  test/Upgrades.test.ts
Due: npm run format, npm run lint -- --fix

feat(governance): update repo to latest windranger-solidity-template, make changes based on solhint
  .github/CODE_OF_CONDUCT.md
  .github/ISSUE_TEMPLATE/question.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/master-push-pull.yaml
  .lintstagedrc
  .prettierrc
  .solhint.json
  .solhintignore
  contracts/Governance.sol
  contracts/Rewards.sol
  contracts/Treasury.sol
  contracts/TreasuryInsurance.sol
  contracts/governor/GovernorAlpha.sol
  contracts/governor/GovernorAlphaV8.sol
  contracts/governor/GovernorBravoDelegate.sol
  contracts/governor/GovernorBravoDelegator.sol
  contracts/governor/GovernorBravoInterfaces.sol
  contracts/governor/Timelock.sol
  contracts/governor/TimelockV8.sol
  contracts/utils/GovernanceControl.sol
  docs/development_process.md
  package-lock.json
  package.json
  scripts/contractBytecodeSize.js
  scripts/contractBytecodeSizeList.json
  test/framework/contracts.ts
  test/framework/events.ts
  test/framework/transaction.ts
Due: npm run format, npm run lint -- --fix

fix(governance): fix size and bugs
  contracts/Governance.sol
  contracts/governor/Timelock.sol
  contracts/governor/TimelockV8.sol
Due: npm run format

[Feature] Update repo to the latest windranger-solidity-template (#99)
  .github/CODE_OF_CONDUCT.md
  .github/ISSUE_TEMPLATE/question.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/master-push-pull.yaml
  .lintstagedrc
  .prettierrc
  .solhint.json
  .solhintignore
  contracts/Governance.sol
  contracts/Rewards.sol
  contracts/Treasury.sol
  contracts/TreasuryInsurance.sol
  contracts/governor/GovernorAlpha.sol
  contracts/governor/GovernorAlphaV8.sol
  contracts/governor/GovernorBravoDelegate.sol
  contracts/governor/GovernorBravoDelegator.sol
  contracts/governor/GovernorBravoInterfaces.sol
  contracts/governor/Timelock.sol
  contracts/governor/TimelockV8.sol
  contracts/utils/GovernanceControl.sol
  docs/development_process.md
  package-lock.json
  package.json
  scripts/contractBytecodeSize.js
  scripts/contractBytecodeSizeList.json
  test/framework/contracts.ts
  test/framework/events.ts
  test/framework/transaction.ts
Due: npm run format, npm run lint -- --fix

feat(governor): add arbitrary votes params for proposals, remove dependence on GovernorAlpha
  contracts/governor/GovernorBravoDelegate.sol
  contracts/governor/GovernorBravoDelegator.sol
  contracts/governor/GovernorBravoInterfaces.sol
  hardhat.config.ts
  test/GovernorBravo.test.ts
Due: npm run format, npm run lint -- --fix

feat(governor): add arbitrary votes params for proposals, remove dependence on GovernorAlpha (#98)
  contracts/governor/GovernorBravoDelegate.sol
  contracts/governor/GovernorBravoDelegator.sol
  contracts/governor/GovernorBravoInterfaces.sol
  hardhat.config.ts
  test/GovernorBravo.test.ts
Due: npm run format, npm run lint -- --fix

feat(ci): slither
  .github/workflows/master-push-pull.yaml
  .gitignore
  contracts/Governance.sol
  contracts/TreasuryInsurance.sol
  contracts/governor/Timelock.sol
  contracts/governor/TimelockV8.sol
Due: npm run format

fix(ci): update slither flags
  .github/workflows/master-push-pull.yaml
Due: none

fix(ci): fix contract
  contracts/TreasuryInsurance.sol
Due: npm run format

fix(ci): update slither according to template
  .github/workflows/master-push-pull.yaml
  slither.json
Due: none

fix(ci): typos
  .github/workflows/master-push-pull.yaml
  slither.json
Due: none

feat(docs): update docs
  docs/slither.md
Due: none

fix(ci): typo config
  slither.json
Due: none

[Feature] Slither (#101)
  .github/workflows/master-push-pull.yaml
  .gitignore
  contracts/Governance.sol
  contracts/TreasuryInsurance.sol
  contracts/governor/Timelock.sol
  contracts/governor/TimelockV8.sol
  docs/slither.md
  slither.json
Due: npm run format

chore(deps): add renovate.json
  renovate.json
Due: none

feat: replacing dependabot with rennovate
  .github/dependabot.yaml
  renovate.json
Due: none

chore(deps): update node-plantuml digest to b9df63e
  package-lock.json
  package.json
Due: none

chore(deps): pin dependencies
  package-lock.json
  package.json
Due: none

feat: replacing dependabot with rennovate (#124)
  .github/dependabot.yaml
  renovate.json
Due: none

Path conditions:
  npm run format: (any of: *.(md|js|json)) or (any of: *.sol)
  npm run lint -- --fix: any of: *.ts
